@media screen and (max-width: 1300px) {
  header h1,
  header h3,
  header button {
    margin-left: 100px;
  }
}
@media screen and (max-width: 1024px) {
  header .line-header {
    margin-left: 0px;
  }
  header h1,
  header h3,
  header button {
    margin-left: 100px;
  }
  header h1 {
    font-size: 120px;
    line-height: 100px;
    margin-top: 150px;
  }
  header h3 {
    font-size: 24px;
  }
  header button {
    width: 300px;
    font-size: 18px;
  }
  header .logo {
    bottom: -300px;
    font-size: 200px;
  }
  .s1 p {
    margin-left: 10px;
  }
  .s1 button {
    width: 300px;
    font-size: 18px;
  }
  footer h2 {
    transform: rotate(90deg) translateX(-70px);
  }
}
@media screen and (max-width: 991px) {
  body h1 span {
    margin-left: 0;
  }
  section h2,
  footer h2 {
    font-size: 50px;
    line-height: 50px;
  }
  header button {
    width: 50%;
    font-size: 18px;
  }
  .s1 button {
    width: 100%;
    font-size: 18px;
  }
  header .logo {
    bottom: -280px;
    font-size: 160px;
  }
  header nav ul {
    font-size: 14px;
  }
  .s1 h2 {
    transform: rotate(-90deg) translateX(-135px);
    width: 135px;
  }
  .s1 p {
    margin-bottom: 10px;
  }
  .s2 .works .card-work {
    width: 100%;
  }
  .s2 .works .card-work:nth-child(2n) {
    margin: 0;
  }
  .s2 .works .card-work {
    display: block;
  }
  .s2 .works .card-work:not(:first-child) {
    border-top: none;
  }
  footer .btn-form {
    font-size: 18px;
  }
  footer .contacts {
    text-align: center;
  }
  footer .icons {
    display: flex;
    justify-content: center;
  }
  footer .icon {
    width: 60px;
    height: 60px;
  }
  footer .contacts {
    margin: 50px 0;
  }
  footer h2 {
    transform: rotate(90deg) translateX(-50px);
  }
}
@media screen and (max-width: 768px) {
  body h3 {
    margin-top: 6px;
  }
  header {
    height: 450px;
  }
  header h1 {
    font-size: 80px;
    line-height: 80px;
    margin-top: 50px;
  }
  header nav {
    display: none;
  }
  header button {
    margin-top: 20px;
  }
  header .line-header {
    height: 215px;
  }
  header .logo {
    bottom: -190px;
    font-size: 140px;
  }
  .humburger {
    display: block;
  }
  section h2,
  footer h2 {
    font-size: 30px;
    line-height: 30px;
  }
  .s1 h2 {
    transform: rotate(-90deg) translateX(-80px);
    width: 80px;
  }
  .s1 .img-foto::before {
    display: none;
  }
  .s1 .img-foto::after {
    transform: translateY(-4px);
  }
  footer h2 {
    transform: rotate(90deg) translateX(-30px);
  }
  footer span,
  footer p {
    font-size: 24px;
  }
}
@media screen and (max-width: 767px) {
  header h1,
  header h3,
  header h1,
  header button {
    margin-left: 15px;
  }
  header .line-header {
    display: none;
  }
  header button {
    width: 60%;
  }
  .s1 h2,
  footer h2 {
    transform: none;
    float: right;
  }
  .s1 .about,
  .s1 .img-foto {
    margin-top: 50px;
  }
  .s1 h2::before {
    display: none;
  }
  .s1 h2::after {
    content: '';
    position: absolute;
    width: 1000px;
    border-top: 1px solid #ff5300;
    bottom: 0;
    transform: rotate(180deg);
    transform-origin: top left;
  }
  .s1 p {
    text-align: center;
  }
  footer #contact-form {
    margin-top: 50px;
  }
  .s1 .img-foto img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }
  .s1 .img-foto::after {
    display: none;
  }
  .s1 .img-foto {
    display: flex;
    justify-content: center;
  }
}
@media screen and (max-width: 500px) {
  header {
    height: 380px;
  }
  header h1,
  header h3,
  header h1,
  header button {
    margin: 0;
    text-align: center;
  }
  header button {
    width: 100%;
  }
  header h1 {
    font-size: 55px;
    line-height: 55px;
    margin-top: 50px;
  }
  header h3 {
    margin: 20px auto;
  }
  header .logo {
    bottom: -120px;
    font-size: 70px;
  }
  .s2 .works .card-work .info-work {
    height: 55px;
  }
  .s2 .works .card-work .info-work p {
    font-size: 18px;
  }
  .s2 .works .card-work .info-work h4 {
    font-size: 24px;
  }
}
