button,
button:active,
button:focus {
  border: none;
  outline: none;
}
input,
input:focus,
textarea,
textaria:focus {
  outline: none;
}
a {
  text-decoration: none;
  color: #fff;
}
button:hover,
.icon:hover {
  filter: brightness(0.7);
}
body {
  width: 100%;
  height: 100%;
  background-color: #121212;
  font-family: Lora;
  overflow: hidden;
}
body header,
body section,
body footer {
  display: block;
  position: relative;
}
body h1 {
  font-size: 150px;
  line-height: 130px;
  color: #ff5300;
  font-family: Open Sans Condensed;
  margin-top: 100px;
}
body h1 span {
  display: block;
  margin-left: -9px;
}
body h3 {
  font-size: 30px;
  color: #FFA073;
  margin-top: 10px;
}
body .container {
  position: relative;
}
body svg {
  fill: #ff5300;
  width: 40px;
  height: 40px;
  stroke: #ff5300;
}
.humburger {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 70px;
  height: 70px;
  z-index: 1002;
  transition: left 0.4s ease-in-out;
}
.humburger .line::after,
.humburger .line::before {
  content: '';
  position: absolute;
}
.humburger .line,
.humburger .line::after,
.humburger .line::before {
  width: 40px;
  height: 3px;
  background-color: #ff5300;
}
.humburger .line {
  margin: auto;
  margin-top: calc(50% - 1px);
  width: 30px;
}
.humburger .line::after {
  top: 22px;
  left: 15px;
  transition: transform 0.8s ease;
}
.humburger .line:before {
  bottom: 22px;
  left: 15px;
  transition: transform 0.8s ease;
}
.humburger.active {
  left: 230px;
}
.humburger.active .line,
.humburger.active .line::after,
.humburger.active .line::before {
  background-color: #fff;
}
.humburger.active .line {
  background-color: transparent;
}
.humburger.active .line::after {
  transform: rotate(45deg);
  top: 34px;
}
.humburger.active .line::before {
  transform: rotate(-45deg);
  bottom: 33px;
}
.toggle {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  left: 0;
  transition: left 0.4s ease-in-out;
}
.toggle .sidebar {
  position: fixed;
  display: block;
  left: -300px;
  background-color: #121212;
  width: 300px;
  height: 100%;
  box-sizing: border-box;
  transition: left 0.4s ease-in-out;
}
.toggle .sidebar::before {
  content: '';
  position: absolute;
  width: 4000px;
  border-top: 1px solid #ff5300;
  transform: rotate(-90deg);
  transform-origin: top right;
  right: 1px;
  top: 0;
}
.toggle .sidebar .name {
  width: 100%;
  padding: 10px 30px;
  font-family: Alegreya Sans SC;
  font-size: 45px;
  color: #ff5300;
}
.toggle .sidebar li {
  padding: 10px 25px;
  font-size: 18px;
  text-transform: uppercase;
}
.toggle .sidebar li::after {
  content: '';
  position: absolute;
  width: 300px;
  border-top: 1px solid #ff5300;
  transform: rotate(180deg) translateY(-25px);
  transform-origin: top left;
  left: 0;
  transition: left 0.8s ease;
}
.toggle .sidebar li:hover::after {
  left: 300px;
}
.toggle.open-sidebar {
  left: 300px;
}
.sidebar.open-sidebar {
  left: 0;
}
header {
  width: 100%;
  height: 700px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #121212 url("../img/howling-red-557278-unsplash.jpg") no-repeat center;
  background-size: cover;
  overflow: hidden;
}
header::before {
  content: ' ';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 700px;
  background-color: rgba(0, 0, 0, 0.9);
}
header nav {
  width: 100%;
  height: 70px;
  position: fixed;
  z-index: 1000;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(20%, #121212), to(rgba(18, 18, 18, 0.1)));
  background: linear-gradient(#121212 20%, rgba(18, 18, 18, 0.1));
}
header nav::before {
  content: '';
  position: absolute;
  width: 100%;
  left: 0;
  top: 70px;
  border-bottom: 1px solid #ff5300;
}
header nav ul {
  font-size: 18px;
  margin: 0;
  text-transform: uppercase;
  float: right;
}
header nav ul li {
  display: inline-block;
  margin: 0 25px;
}
header nav ul a {
  color: #fff;
  line-height: 70px;
}
header .line-header {
  position: absolute;
  width: 70px;
  height: 450px;
  left: 0;
  top: 0;
  border-right: 1px solid #ff5300;
  z-index: 1001;
}
header button {
  background-color: #00AB6F;
  width: 360px;
  height: 60px;
  font-size: 24px;
  font-family: Open Sans Condensed;
  text-transform: uppercase;
  margin-top: 40px;
}
header .logo {
  position: absolute;
  display: flex;
  justify-content: center;
  bottom: -300px;
  width: 100%;
  color: rgba(191, 94, 48, 0.3);
  font-size: 265px;
  font-family: Alegreya Sans SC;
}
section,
footer {
  padding: 100px 0;
  position: relative;
  color: #fff;
  overflow: hidden;
}
section::after,
footer::after {
  content: '';
  position: absolute;
  width: 100%;
  border-top: 1px solid #ff5300;
  left: 0;
  top: 0;
}
section h2,
footer h2 {
  font-family: Open Sans Condensed;
  font-size: 70px;
  color: #ff5300;
  text-transform: uppercase;
  line-height: 65px;
}
section h2::before,
footer h2::before {
  content: '';
  position: absolute;
  width: 1000px;
  border-top: 1px solid #ff5300;
  bottom: 0;
}
section h4,
footer h4 {
  font-family: Open Sans Condensed;
  font-size: 34px;
}
.s1 h2 {
  transform: rotate(-90deg) translateX(-190px);
  transform-origin: top left;
  width: 190px;
}
.s1 p {
  text-align: right;
  margin-bottom: 20px;
}
.s1 .img-foto::after {
  content: '';
  position: absolute;
  width: 1000px;
  border-top: 1px solid #ff5300;
  transform: rotate(-90deg) translateX(3px);
  transform-origin: top left;
}
.s1 .img-foto::before {
  content: '';
  position: absolute;
  width: 1000px;
  border-top: 1px solid #ff5300;
  transform: rotate(-90deg);
  transform-origin: top right;
  right: 15px;
}
.s1 button {
  background-color: #ff5300;
  width: 360px;
  height: 60px;
  font-size: 24px;
  font-family: Open Sans Condensed;
  text-transform: uppercase;
  float: right;
  margin-top: 15px;
}
.s2 h2 {
  float: right;
}
.s2 .works {
  margin-top: 50px;
}
.s2 .works .card-work {
  position: relative;
  border: 1px solid #ff5300;
  display: inline-flex;
  width: 50%;
  padding: 45px;
}
.s2 .works .card-work:hover::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
}
.s2 .works .card-work .info-work {
  position: relative;
  display: flex;
  height: 70px;
}
.s2 .works .card-work .info-work h4 {
  top: 0;
}
.s2 .works .card-work .info-work p {
  bottom: 0;
}
.s2 p {
  position: absolute;
  font-size: 24px;
  color: #ff5300;
}
.s2 .arrow {
  width: 25%;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
}
.s2 .arrow img {
  position: absolute;
  width: 40px;
  height: 40px;
  bottom: 0;
  top: 0;
  margin: auto;
  right: 15px;
  transition: .5s linear;
}
.s2 .arrow img:hover {
  animation: arrow 1.5s infinite linear;
}
footer h2 {
  width: 320px;
  transform: rotate(90deg) translateX(-68px);
  transform-origin: bottom left;
}
footer h2::before {
  display: none;
}
footer h2::after {
  content: '';
  position: absolute;
  width: 1000px;
  border-top: 1px solid #ff5300;
  bottom: 0;
  transform: rotate(180deg);
  transform-origin: top left;
}
footer span {
  display: block;
  font-family: Open Sans Condensed;
  font-size: 24px;
  color: #ff5300;
}
footer form span {
  text-align: right;
}
footer input,
footer textarea {
  width: 100%;
  padding: 15px;
  background: transparent;
  border: 1px solid #ff5300;
  color: #ff5300;
}
footer textarea {
  max-width: 100%;
  min-width: 200px;
  min-height: 100px;
}
footer .btn-form {
  background-color: #ff5300;
  width: 100%;
  height: 60px;
  font-size: 24px;
  font-family: Open Sans Condensed;
  text-transform: uppercase;
}
footer input,
footer .btn-form,
footer textarea {
  margin-top: 20px;
}
footer p {
  font-size: 24px;
  margin: 10px 0 40px 0;
}
footer .icon {
  width: 50px;
  height: 50px;
  display: inline-block;
  margin: 0 10px;
}
@keyframes arrow {
  0% {
    right: 15px;
  }
  50% {
    right: 35px;
  }
  100% {
    right: 15px;
  }
}
@keyframes bgcard {
  0% {
    background-position-y: 0;
  }
  50% {
    background-position-y: 100%;
  }
  100% {
    background-position-y: 0;
  }
}
